/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.2em;
    font-size: 1.0em;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 1.6em;
}
h2{
    font-size: 1.3em;
}

ul{
    line-height: 2em;
}

/* Contact Page Styles */
main.contacto{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.contact-page-container {
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 20px;
    margin-top: 10px;
}
.form-wrapper{
    border: 1px solid #ccc;
    padding: 20px;
    height: fit-content;
}
.contacto-column{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}
label.input{
    font-weight: bold;
}
input, textarea{
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 95%;
}button{
     background-color: black;
     color: white;
     padding: 5px 10px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }
.button-container{
    display: flex;
    justify-content: center;
}

/* Estilos para participantes nosotros.html*/
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
}

.person {
    display: grid;
    margin: 1.2em;
    border: 2px solid #333; /* Borde de color */
    box-sizing: border-box; /* Incluye el borde en el cálculo del ancho */
    overflow: hidden; /* Oculta el contenido que se desborde */
    transition: transform 0.3s ease, border-color 0.3s ease; /* Transición para el cambio de tamaño */
}

.person:hover {
    border-color: blue;
    transform: scale(1.1); /* Escala la caja al hacer hover */
}

.person img {
    width: 15em;
    display: flex; /* Asegura que la imagen sea un bloque */
    border-radius: 50%;
    margin: 0.5em auto; /* Centra la imagen horizontalmente */
}

.person h2 {
    text-align: center;
    font-weight: bold;
}

.person .description {
    padding: 0.7em;
    text-align: justify;
}

/* Header style */
  
header{
    background-color: #7ec4cdfe; /* Color de fondo del encabezado */
    width: 100%;
    color: #fff; /* Color del texto */
    align-items: center; /* Centrar verticalmente los elementos hijos */
    display: flex; /* Activar el modelo de caja flexible */
    margin: 0;
    padding: 0;
}

/* Estilos de la imagen del encabezado */
header img {
    max-width: 100px; /* Ajustar la imagen al ancho del encabezado */
    display: block; /* Mostrar la imagen como un elemento en línea */
    border: 0;
}

/* Estilos de los enlaces del encabezado */
header nav {
    display: inline-block; /* Mostrar la imagen como un elemento en línea */

}

header nav a {
    color: #0454ff; /* Color del texto de los enlaces */
    text-decoration: none; /* Sin subrayado */
    margin: 0 10px; /* Espacio entre los enlaces */
    font-size: 22px;
}

header nav a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
    color: aliceblue;
}

/*Footer*/
footer {
    background-color: #7ec4cdfe; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto */
    align-items: center; /* Centrar verticalmente los elementos hijos */
    display: flex; /* Activar el modelo de caja flexible */
    padding: 4px;
}

/* CSS proyecto.html*/
.texto-proyecto {
    background-color: #ffffff;
    padding: 30px;
}

.texto-proyecto p {
    text-align: justify;
    line-height: 2;
    margin: 20px;
}

.texto-proyecto h3 {
    text-align: center;
}

.texto-proyecto h2 {
    text-align: center;
    font-size: 3em;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px rgba(126, 196, 205, 0.99);
}

.img-fluid {
    margin-top: 20px;
}

img.bottom {
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

body.proyecto {
    background: #2980B9;
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #7ec4cdfe);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #7ec4cdfe);
}

/* Index Page Styles */
main.index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

main.index h1, h2, h3 {
    font-weight: bold;
    text-align: center;
}
main.index h4{
    text-align: center;
}
.benvinguda{
    padding: 15px;
}

/* Establece un contenedor para los elementos */
.container-fluid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}

/* Configura los estilos para cada columna */
main.index .col-sm-2, .col-sm-6, .col-sm-3 {
    border: 2px solid rgb(141, 194, 203); /* Borde de color */
    padding: 20px;
    text-align: justify; /* Justifica el texto */
    overflow: hidden; /* Oculta el contenido que no cabe dentro del ancho */
    margin: 10px; /* Espacio entre las columnas */
}

.smaller-image {
    width: 200px; /* Set initial width */
}
  
.membre img {
    border-radius: 50%;
}

/* Estilo para los elementos de la lista sin puntos */
main.index .col-sm-2 ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el espacio interno de la lista */
}

/* Ajusta el espaciado entre los elementos de la lista */
main.index .col-sm-2 li {
    margin-bottom: 10px;
}
